In [1]:
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('U.S._Chronic_Disease_Indicators__CDI_.csv')

In [3]:
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,DataValue,DataValueAlt,DataValueFootnoteSymbol,DatavalueFootnote,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,GeoLocation,ResponseID,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2015,2015,US,United States,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,NaN,NaN,-,No data available,NaN,NaN,Overall,Overall,NaN,NaN,NaN,NaN,NaN,NaN,59,ALC,ALC8_0_2,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2012,2012,DC,District of Columbia,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,0.09,0.09,NaN,NaN,NaN,NaN,Overall,Overall,NaN,NaN,NaN,NaN,"(38.907192, -77.036871)",NaN,11,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2012,2012,GU,Guam,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,NaN,NaN,-,No data available,NaN,NaN,Overall,Overall,NaN,NaN,NaN,NaN,"(13.444304, 144.793731)",NaN,66,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2012,2012,PR,Puerto Rico,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,NaN,NaN,-,No data available,NaN,NaN,Overall,Overall,NaN,NaN,NaN,NaN,"(18.220833, -66.590149)",NaN,72,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2012,2012,US,United States,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,NaN,NaN,-,No data available,NaN,NaN,Overall,Overall,NaN,NaN,NaN,NaN,NaN,NaN,59,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN

In [4]:
df.tail()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,DataValue,DataValueAlt,DataValueFootnoteSymbol,DatavalueFootnote,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,GeoLocation,ResponseID,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
519713,2014,2014,DE,Delaware,BRFSS,Arthritis,Physical inactivity among adults aged >= 18 ye...,NaN,%,Age-adjusted Prevalence,NaN,NaN,****,Sample size of denominator and/or age group fo...,NaN,NaN,Race/Ethnicity,"Other, non-Hispanic",NaN,NaN,NaN,NaN,"(39.008830667, -75.577741168)",NaN,10,ART,ART3_0,AGEADJPREV,RACE,OTH,NaN,NaN,NaN,NaN
519714,2015,2015,OR,Oregon,BRFSS,"Nutrition, Physical Activity, and Weight Status",Meeting aerobic physical activity guidelines f...,NaN,%,Crude Prevalence,39.5,39.50,NaN,NaN,37.00,42.00,Gender,Female,NaN,NaN,NaN,NaN,"(44.567449424, -120.155031326)",NaN,41,NPAW,NPAW11_3,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
519715,2014,2014,AR,Arkansas,State Inpatient Data,Chronic Obstructive Pulmonary Disease,Hospitalization for chronic obstructive pulmon...,NaN,"cases per 10,000",Crude Rate,74.94,74.94,NaN,NaN,72.83,77.05,Gender,Female,NaN,NaN,NaN,NaN,"(34.748650124, -92.274490743)",NaN,5,COPD,COPD5_1,CRDRATE,GENDER,GENF,NaN,NaN,NaN,NaN
519716,2016,2016,CT,Connecticut,BRFSS,Cardiovascular Disease,Influenza vaccination among noninstitutionaliz...,NaN,%,Age-adjusted Prevalence,NaN,NaN,****,Sample size of denominator and/or age group fo...,NaN,NaN,Race/Ethnicity,Hispanic,NaN,NaN,NaN,NaN,"(41.56266102, -72.649840952)",NaN,9,CVD,CVD9_2,AGEADJPREV,RACE,HIS,NaN,NaN,NaN,NaN
519717,2013,2013,TX,Texas,BRFSS,"Nutrition, Physical Activity, and Weight Status",Meeting aerobic physical activity guidelines f...,NaN,%,Crude Prevalence,22.8,22.80,NaN,NaN,21.10,24.60,Gender,Female,NaN,NaN,NaN,NaN,"(31.827240407, -99.426770206)",NaN,48,NPAW,NPAW11_3,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN

In [12]:
df.dtypes

YearStart                      int64
YearEnd                        int64
LocationAbbr                  object
LocationDesc                  object
DataSource                    object
Topic                         object
Question                      object
DataValueUnit                 object
DataValueType                 object
DataValue                    float64
DataValueAlt                 float64
LowConfidenceLimit           float64
HighConfidenceLimit          float64
StratificationCategory1       object
Stratification1               object
GeoLocation                   object
LocationID                     int64
TopicID                       object
QuestionID                    object
DataValueTypeID               object
StratificationCategoryID1     object
StratificationID1             object
Latitute                      object
longitude                     object
dtype: object

In [6]:
df.drop(['Response','DataValueFootnoteSymbol','DatavalueFootnote','StratificationCategory2','Stratification2', 'StratificationCategory3', 'Stratification3','ResponseID','StratificationCategoryID2', 'StratificationID2','StratificationCategoryID3','StratificationID3'],axis = 1,inplace=True)

In [7]:
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
0,2015,2015,US,United States,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,$,US Dollars,NaN,NaN,NaN,NaN,Overall,Overall,NaN,59,ALC,ALC8_0_2,USD,OVERALL,OVR
1,2012,2012,DC,District of Columbia,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,$,US Dollars,0.09,0.09,NaN,NaN,Overall,Overall,"(38.907192, -77.036871)",11,ALC,ALC8_0_1,USD,OVERALL,OVR
2,2012,2012,GU,Guam,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,$,US Dollars,NaN,NaN,NaN,NaN,Overall,Overall,"(13.444304, 144.793731)",66,ALC,ALC8_0_1,USD,OVERALL,OVR
3,2012,2012,PR,Puerto Rico,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,$,US Dollars,NaN,NaN,NaN,NaN,Overall,Overall,"(18.220833, -66.590149)",72,ALC,ALC8_0_1,USD,OVERALL,OVR
4,2012,2012,US,United States,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,$,US Dollars,NaN,NaN,NaN,NaN,Overall,Overall,NaN,59,ALC,ALC8_0_1,USD,OVERALL,OVR

In [8]:
df.Topic.value_counts()

Diabetes                                           79631
Chronic Obstructive Pulmonary Disease              78729
Cardiovascular Disease                             75787
Arthritis                                          41765
Overarching Conditions                             39362
Asthma                                             39261
Nutrition, Physical Activity, and Weight Status    33621
Alcohol                                            31850
Tobacco                                            29306
Older Adults                                       15300
Cancer                                             14101
Chronic Kidney Disease                             12395
Oral Health                                        11137
Mental Health                                       7225
Immunization                                        5220
Disability                                          2968
Reproductive Health                                 2060
Name: Topic, dtype: int64

In [9]:
df['GeoLocation'] = df['GeoLocation'].replace(to_replace='\(|\)', value="", regex=True)

In [10]:
lat = []
lng = []

for row in df['GeoLocation']:
    try:
        lat.append(row.split(',')[0])
        lng.append(row.split(',')[1])
    except:
        lat.append(np.NaN)
        lng.append(np.NaN)
        
df['Latitute'] = lat
df['longitude'] = lng

In [11]:
df['DataValue'] = df['DataValue'].apply(pd.to_numeric, downcast='float', errors='coerce')

In [13]:
df_Cancer = df[(df['Topic'] == 'Cancer')]

In [14]:
list2 = df_Cancer['Question'].to_list()

In [15]:
from collections import Counter
print(Counter(list2))

Counter({'Fecal occult blood test, sigmoidoscopy, or colonoscopy among adults aged 50-75 years': 3480, 'Papanicolaou smear use among adult women aged 21-65 years': 3250, 'Mammography use among women aged 50-74 years': 3250, 'Recent Papanicolaou smear use among women aged 21-44 years': 1625, 'Invasive cancer of the cervix, incidence': 156, 'Cancer of the female breast, mortality': 156, 'Invasive cancer (all sites combined), mortality': 156, 'Cancer of the colon and rectum (colorectal), incidence': 156, 'Invasive cancer of the female breast, incidence': 156, 'Cancer of the oral cavity and pharynx, mortality': 156, 'Invasive cancer (all sites combined), incidence': 156, 'Invasive melanoma, incidence': 156, 'Cancer of the prostate, mortality': 156, 'Cancer of the female cervix, mortality': 156, 'Invasive cancer of the oral cavity or pharynx, incidence': 156, 'Cancer of the colon and rectum (colorectal), mortality': 156, 'Cancer of the lung and bronchus, incidence': 156, 'Melanoma, mortality': 156, 'Cancer of the lung and bronchus, mortality': 156, 'Invasive cancer of the prostate, incidence': 156})

In [16]:
df_Cancer.groupby(['LocationDesc'])['DataValue'].mean().sort_values(ascending=False, na_position='first')

LocationDesc
United States           40813.775309
California               1901.860894
Texas                    1333.141916
New York                 1261.336264
Florida                  1235.061000
Pennsylvania             1097.808333
Illinois                  978.583553
Ohio                      806.481319
North Carolina            734.519255
Michigan                  687.004372
Missouri                  589.642105
Georgia                   570.360417
Virginia                  570.143396
Wisconsin                 560.271756
New Jersey                556.601961
Tennessee                 550.377070
Indiana                   529.059211
Massachusetts             494.390909
Arizona                   466.642568
Kentucky                  448.540541
Louisiana                 446.794891
Maryland                  441.775610
Alabama                   425.474359
Washington                418.430049
South Carolina            403.341615
Minnesota                 401.905325
Iowa                      377.964103
Connecticut               349.263265
Arkansas                  343.121774
Oregon                    339.984615
Mississippi               320.977778
Colorado                  313.492572
Oklahoma                  293.025824
West Virginia             290.167857
Kansas                    244.912941
Maine                     227.008928
New Hampshire             208.264912
Utah                      191.434722
New Mexico                187.297260
Idaho                     186.784034
Nebraska                  167.677128
Rhode Island              161.611194
Delaware                  152.316783
Montana                   146.916059
Vermont                   140.824000
South Dakota              139.923200
Hawaii                    131.679039
North Dakota              125.422222
District of Columbia      111.824817
Nevada                    108.751370
Alaska                    101.603007
Wyoming                   101.590164
Puerto Rico                67.637037
Virgin Islands             60.750000
Guam                       59.382022
Name: DataValue, dtype: float64

In [17]:
Cancer= df_Cancer.pivot_table(values =['YearEnd'], index =['LocationDesc', 'Stratification1','Question','DataValueUnit','DataValue'],  aggfunc = np.mean)

In [18]:
Cancer.head()

                                                                                                             YearEnd
LocationDesc Stratification1     Question                                           DataValueUnit DataValue
Alabama      Black, non-Hispanic Fecal occult blood test, sigmoidoscopy, or colo... %             61.799999   2014.0
                                                                                                  62.299999   2014.0
                                                                                                  67.000000   2012.0
                                                                                                  67.400002   2012.0
                                                                                                  70.099998   2015.0

In [19]:
Cancer.to_csv('Cancer.csv')

In [20]:
pd.read_csv('Cancer.csv')

,LocationDesc,Stratification1,Question,DataValueUnit,DataValue,YearEnd
0,Alabama,"Black, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,61.799999,2014.0
1,Alabama,"Black, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,62.299999,2014.0
2,Alabama,"Black, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,67.000000,2012.0
3,Alabama,"Black, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,67.400002,2012.0
4,Alabama,"Black, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,70.099998,2015.0
5,Alabama,"Black, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,70.300003,2016.0
6,Alabama,"Black, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,70.500000,2016.0
7,Alabama,"Black, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,70.699997,2015.0
8,Alabama,"Black, non-Hispanic",Mammography use among women aged 50-74 years,%,80.800003,2014.0
9,Alabama,"Black, non-Hispanic",Mammography use among women aged 50-74 years,%,81.900002,2014.0
10,Alabama,"Black, non-Hispanic",Mammography use among women aged 50-74 years,%,83.500000,2016.0
11,Alabama,"Black, non-Hispanic",Mammography use among women aged 50-74 years,%,83.599998,2012.0
12,Alabama,"Black, non-Hispanic",Mammography use among women aged 50-74 years,%,84.000000,2014.0
13,Alabama,"Black, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,83.699997,2016.0
14,Alabama,"Black, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,84.300003,2016.0
15,Alabama,"Black, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,87.699997,2014.0
16,Alabama,"Black, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,88.699997,2014.0
17,Alabama,"Black, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,89.099998,2012.0
18,Alabama,"Black, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,89.599998,2012.0
19,Alabama,"Black, non-Hispanic",Recent Papanicolaou smear use among women aged...,%,83.400002,2016.0
20,Alabama,"Black, non-Hispanic",Recent Papanicolaou smear use among women aged...,%,90.900002,2012.0
21,Alabama,"Black, non-Hispanic",Recent Papanicolaou smear use among women aged...,%,93.199997,2014.0
22,Alabama,Female,"Fecal occult blood test, sigmoidoscopy, or col...",%,62.799999,2014.0
23,Alabama,Female,"Fecal occult blood test, sigmoidoscopy, or col...",%,64.000000,2014.0
24,Alabama,Female,"Fecal occult blood test, sigmoidoscopy, or col...",%,66.900002,2012.0
25,Alabama,Female,"Fecal occult blood test, sigmoidoscopy, or col...",%,67.599998,2012.0
26,Alabama,Female,"Fecal occult blood test, sigmoidoscopy, or col...",%,70.300003,2015.0
27,Alabama,Female,"Fecal occult blood test, sigmoidoscopy, or col...",%,70.699997,2015.5
28,Alabama,Female,"Fecal occult blood test, sigmoidoscopy, or col...",%,71.699997,2016.0
29,Alabama,Hispanic,"Fecal occult blood test, sigmoidoscopy, or col...",%,55.099998,2012.0
...,...,...,...,...,...,...
7001,Wyoming,Overall,"Melanoma, mortality","per 100,000",3.000000,2014.0
7002,Wyoming,Overall,"Melanoma, mortality","per 100,000",3.200000,2014.0
7003,Wyoming,Overall,Papanicolaou smear use among adult women aged ...,%,73.000000,2016.0
7004,Wyoming,Overall,Papanicolaou smear use among adult women aged ...,%,73.599998,2016.0
7005,Wyoming,Overall,Papanicolaou smear use among adult women aged ...,%,79.900002,2012.0
7006,Wyoming,Overall,Papanicolaou smear use among adult women aged ...,%,80.400002,2014.0
7007,Wyoming,Overall,Papanicolaou smear use among adult women aged ...,%,81.000000,2014.0
7008,Wyoming,Overall,Recent Papanicolaou smear use among women aged...,%,75.699997,2016.0
7009,Wyoming,Overall,Recent Papanicolaou smear use among women aged...,%,84.300003,2012.0
7010,Wyoming,Overall,Recent Papanicolaou smear use among women aged...,%,84.400002,2014.0
7011,Wyoming,"White, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,54.400002,2014.0
7012,Wyoming,"White, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,54.900002,2014.0
7013,Wyoming,"White, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,56.299999,2012.0
7014,Wyoming,"White, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,56.400002,2012.0
7015,Wyoming,"White, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,61.099998,2016.0
7016,Wyoming,"White, non-Hispanic","Fecal occult blood test, sigmoidoscopy, or col...",%,62.500000,2016.0
7017,Wyoming,"White, non-Hispanic",Mammography use among women aged 50-74 years,%,65.000000,2016.0
7018,Wyoming,"White, non-Hispanic",Mammography use among women aged 50-74 years,%,67.400002,2012.0
7019,Wyoming,"White, non-Hispanic",Mammography use among women aged 50-74 years,%,67.500000,2012.0
7020,Wyoming,"White, non-Hispanic",Mammography use among women aged 50-74 years,%,69.199997,2014.0
7021,Wyoming,"White, non-Hispanic",Mammography use among women aged 50-74 years,%,69.500000,2014.0
7022,Wyoming,"White, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,73.400002,2016.0
7023,Wyoming,"White, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,73.900002,2016.0
7024,Wyoming,"White, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,79.800003,2014.0
7025,Wyoming,"White, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,79.900002,2012.0
7026,Wyoming,"White, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,80.099998,2012.0
7027,Wyoming,"White, non-Hispanic",Papanicolaou smear use among adult women aged ...,%,80.199997,2014.0
7028,Wyoming,"White, non-Hispanic",Recent Papanicolaou smear use among women aged...,%,76.400002,2016.0
7029,Wyoming,"White, non-Hispanic",Recent Papanicolaou smear use among women aged...,%,82.800003,2014.0
7030,Wyoming,"White, non-Hispanic",Recent Papanicolaou smear use among women aged...,%,83.199997,2012.0

In [21]:
df.YearEnd.value_counts()

2014    97815
2013    94268
2012    82598
2011    82566
2015    72327
2016    60266
2010    29611
2008      108
2001      104
2007       55
Name: YearEnd, dtype: int64